
.login-form {
	width: 20vw;
	border: 1px solid rgb(128,128,128);
	border-radius: 6px;
	margin: 20vh auto;
	padding: 20px;
	text-align: center;
}

.login-form > * {
	display: block;
	margin: 12px auto;
}

.login-form > .error {
	color: red;
	font-size: 14px;
	font-weight: bold;
	font-family: monospace;
	padding: 0 12px;
}
