/* http://stackoverflow.com/questions/14189625/true-center-vertical-and-horizontal-css-div */
/* http://stackoverflow.com/questions/14123999/center-a-div-horizontally-and-vertically */
.center-x {
	width: 200px;
	height: 100px;
	background-color: blue;

	position:absolute; /*it can be fixed too*/
	left:0; right:0;
	top:0; bottom:0;
	margin:auto;

	/*this to solve "the content will not be cut when the window is smaller than the content": */
	max-width:100%;
	max-height:100%;
	overflow:auto;
}
/* https://css-tricks.com/centering-css-complete-guide/ */
.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
